<h1>All Courses We Offer</h1>

<% @offerings.each do |offering| %>
  <%= offering.title %>
<% end %>

<%= form_for @offering do |f| %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.submit %>
<% end %>
